loglevel=verbose
//gitlab.com/api/v4/packages/npm/:_authToken=${CI_JOB_TOKEN}
//gitlab.com/api/v4/projects/20922738/packages/npm/:_authToken=${CI_JOB_TOKEN}
@oesinc:registry=https://gitlab.com/api/v4/packages/npm/
always-auth=true
