/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2') format('woff2');
}

/* roboto-300 - vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/roboto-v27-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/roboto-v27-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v27-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v27-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v27-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v27-300.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-regular - vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v27-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/roboto-v27-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v27-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v27-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v27-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v27-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-500 - vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto-v27-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/roboto-v27-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v27-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v27-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v27-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v27-500.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v27-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/roboto-v27-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v27-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v27-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v27-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v27-700.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-900 - vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/roboto-v27-900.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/roboto-v27-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v27-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v27-900.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v27-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v27-900.svg#Roboto') format('svg'); /* Legacy iOS */
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}