<div class="login-container" fxLayout="row" fxLayoutAlign="space-around center">
  <mat-card class="login-card" fxFlex>
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="login-form" [formGroup]="loginForm" (ngSubmit)="login()">
        <mat-form-field class="w-100">
          <input matInput placeholder="Username" formControlName="username" />
        </mat-form-field>
        <br />
        <mat-form-field class="w-100">
          <input
            matInput
            placeholder="Password"
            type="password"
            formControlName="password"
            autocomplete="true"
          />
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="login()" color="primary">Login</button>
    </mat-card-actions>
  </mat-card>
</div>
