<h1 matDialogTitle>{{data.title}}</h1>
  <form [formGroup]="itemForm" (ngSubmit)="submit()">
  <div fxLayout="row wrap" fxLayout.lt-sm="column">
    <div fxFlex="50"  class="pr-1">
      <mat-form-field class="full-width">
        <input
        matInput
        name="username"
        [formControl]="itemForm.controls['username']"
        placeholder="User Name">
      </mat-form-field>
    </div>

    <div fxFlex="50"  class="pr-1">
        <mat-form-field class="full-width">
          <input
          matInput
          type="password"
          name="pwd"
          [formControl]="itemForm.controls['pwd']"
          placeholder="Password">
        </mat-form-field>
      </div>

    <div fxFlex="50"  class="pr-1">
      <mat-form-field class="full-width">
        <input
        matInput
        name="displayname"
        [formControl]="itemForm.controls['displayname']"
        placeholder="Display Name">
      </mat-form-field>
    </div>

    <div fxFlex="50"  class="pr-1">
        <mat-form-field class="full-width">          
          <mat-select [(formControl)]="itemForm.controls['role']" name="role" placeholder="User Role">
            <mat-option *ngFor="let option of roles" value="{{option}}">
              {{option}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

    <div fxFlex="100" class="mt-1">
      <button mat-raised-button color="primary" [disabled]="itemForm.invalid">SAVE</button>
      <span fxFlex></span>
      <button mat-button color="warn" type="button" (click)="dialogRef.close(false)">Cancel</button>
    </div>
  </div>
  </form>