.designer-form-field {
  width: 320px;
  //margin-top: 0.25rem;
  .mat-form-field-wrapper {
    padding-bottom: 0;
    .mat-form-field-infix {
      border-top: 0;
      padding: 10px 0;
    }
  }
  .mat-form-field-label {
    margin-top: 3px;
  }
}

.designer-line-form-field {
  width: 120px;
  margin-top: 0.25rem;
  padding-right: 5px;
  .mat-form-field-wrapper {
    padding-bottom: 0;
    .mat-form-field-infix {
      border-top: 0;
      padding: 10px 0;
    }
  }
  .mat-form-field-label {
    margin-top: 3px;
  }
}

.line-button {
  width: 30px;
  margin-top: 0.25rem;
}

.property-save {
  background-color: #19beda;
}

.selected-section {
  padding: 1.5rem 20px 0 0;
}


.dialog-input-container {
  margin-bottom: 0;
}

::ng-deep .mat-tab-body-content {
  overflow: hidden !important;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
