<h1 matDialogTitle>{{data.title}}</h1>
  <form [formGroup]="itemForm" (ngSubmit)="submit()">
  <div fxLayout="row wrap" fxLayout.lt-sm="column">
    <div fxFlex="50"  class="pr-1">
      <mat-form-field class="full-width">
        <input
        matInput
        name="userName"
        [formControl]="itemForm.controls['userName']"
        placeholder="User Name">
      </mat-form-field>
    </div>

    <div fxFlex="50"  class="pr-1">
        <mat-form-field class="full-width">
          <input
          matInput
          type="password"
          name="password"
          [formControl]="itemForm.controls['password']"
          placeholder="Password">
        </mat-form-field>
      </div>

    <div fxFlex="50"  class="pr-1">
      <mat-form-field class="full-width">
        <input
        matInput
        name="firstName"
        [formControl]="itemForm.controls['firstName']"
        placeholder="First Name">
      </mat-form-field>
    </div>

    <div fxFlex="50"  class="pr-1">
      <mat-form-field class="full-width">
        <input
        matInput
        name="lastName"
        [formControl]="itemForm.controls['lastName']"
        placeholder="Last Name">
      </mat-form-field>
    </div>

    <div fxFlex="50"  class="pr-1">
        <mat-form-field class="full-width">
          <input
          matInput
          name="role"
          [formControl]="itemForm.controls['role']"
          placeholder="Role">
        </mat-form-field>
      </div>

    <div fxFlex="100" class="mt-1">
      <button mat-raised-button color="primary" [disabled]="itemForm.invalid">SAVE</button>
      <span fxFlex></span>
      <button mat-button color="warn" type="button" (click)="dialogRef.close(false)">Cancel</button>
    </div>
  </div>
  </form>