<form class="diagram-select-form">
    <div fxFlex="100" class="data-connect-container pr-1 pt-1">
        <div class="mb-24">
            <div class="mat-elevation-z1 rounded overflow-hidden">
                <mat-accordion multi="true" displayMode="flat" class="hmi-example-viewer-accordion">
                    <mat-expansion-panel [expanded]="true">
                        <mat-expansion-panel-header collapsedHeight="48px" expandedHeight="48px" class="light-gray">
                            <mat-panel-title>
                                DIAGRAM
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div fxLayout="row" fxLayout.lt-sm="column" class="pt-1">
                            <div class="pr-1">
                                <h4>Select Diagram</h4>
                                <mat-form-field>
                                    <mat-select [(ngModel)]="selectedDiagramId" name="select=diagram"
                                        (selectionChange)="onDiagramChanged($event.value)">
                                        <mat-option *ngFor="let option of diagrams" [value]="option.diagramId">
                                            {{option.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="pr-1">
                                <h4>Select Graph Item</h4>
                                <mat-form-field>
                                    <mat-select [(ngModel)]="selectedGraphItemId" name="selete-item"
                                        (selectionChange)="onGraphItemChanged($event.value)">
                                        <mat-option *ngFor="let option of graphItems" [value]="option.id">
                                            {{option.name}} ({{option.label}})
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="pr-1">
                                <h4>mRID</h4>
                                <mat-form-field>
                                    <input matInput [(ngModel)]="selectedGraphItemMRID" placeholder="Not set" [disabled]="true" name="symbol-mrid"/>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="pb-1">
                            <button mat-raised-button color="primary" (click)="updateDiagram()"
                                *ngIf="selectedDiagramId && selectedGraphItemId">Save</button>
                        </div>

                        <mat-tab-group mat-align-tabs="start">
                            <mat-tab label="Event, Reading, or Status" *ngIf="graphItemDataConnectable">
                                <div fxLayout="row" fxFlex="100">
                                    <div fxFlex="48" cdkDropList #currentPointsList="cdkDropList"
                                        [cdkDropListData]="currentPoints" class="data-connect-list"
                                        (cdkDropListDropped)="drop($event)">
                                        <div class="data-connect-box" *ngFor="let item of currentPoints" cdkDrag>
                                            <div>
                                                <div class="data-header">{{item.attributes.name}}</div>
                                                <div class="data-detail">
                                                    <!-- {{truncateString(item.attributes.path)}} -->
                                                    <input matInput [value]="item.attributes.path" (input)="item.attributes.path = $event.target.value" />
                                                </div>
                                                <div class="data-detail">
                                                    <mat-form-field class="example-full-width pr-1">
                                                        <mat-label>Custom Label</mat-label>
                                                        <input matInput [value]="item.attributes.label"
                                                            (input)="item.attributes.label = $event.target.value" />
                                                    </mat-form-field>
                                                    <mat-form-field class="example-full-width pr-1" style="width:10%;">
                                                        <mat-label>Unit</mat-label>
                                                        <input matInput [value]="item.attributes.measurement"
                                                            (input)="item.attributes.measurement = $event.target.value" />
                                                    </mat-form-field>
                                                    <mat-form-field class="example-full-width pr-1" style="width:10%;">
                                                        <mat-label>Scale</mat-label>
                                                        <input matInput [value]="item.attributes.scale"
                                                            (input)="item.attributes.scale = $event.target.value" />
                                                    </mat-form-field>
                                                    <mat-form-field class="example-full-width pr-1" style="width:10%;">
                                                        <mat-label>Deadband</mat-label>
                                                        <input matInput [value]="item.attributes.deadband" type="number" min="0" max="1000000"
                                                            (input)="item.attributes.deadband = $event.target.value" />
                                                    </mat-form-field>
                                                    <mat-form-field class="example-full-width" style="width:10%;">
                                                        <mat-label>Decimals</mat-label>
                                                        <input matInput [value]="item.attributes.decimals" type="number" min="0" max="4"
                                                            (input)="item.attributes.decimals = $event.target.value" />
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <button mat-icon-button aria-label="Delete" style="cursor: pointer;"
                                                (click)="removePoint(item)">
                                                <mat-icon>delete</mat-icon>
                                            </button>                                            
                                        </div>
                                    </div>
                                    <div fxFlex="2">&nbsp;</div>
                                    <div fxFlex="48">
                                        <div fxLayout="row" fxLayout.lt-sm="column" class="pt-1">
                                            <div class="pr-1">
                                                <h4>Select Module</h4>
                                                <mat-form-field>
                                                    <mat-select [(ngModel)]="selectedModule" name="select-module"
                                                        (selectionChange)="onModuleChanged($event.value)">
                                                        <mat-option *ngFor="let option of modules" [value]="option">
                                                            {{option}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                            <div class="pr-1">
                                                <h4>Select Profile</h4>
                                                <mat-form-field>
                                                    <mat-select [(ngModel)]="selectedProfile" name="select-profile"
                                                        (selectionChange)="onProfileChanged($event.value)">
                                                        <mat-option *ngFor="let option of profiles"
                                                            [value]="option.name">
                                                            {{option.name}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="pb-1">
                                            <mat-form-field class="margin-333" style="width: 100%">
                                                <input matInput placeholder="Type to filter" [(ngModel)]='filter'
                                                    (keyup)='updateFilter($event)' name="filter">
                                            </mat-form-field>
                                        </div>
                                        <div cdkDropList #availablePointsList="cdkDropList"
                                            [cdkDropListData]="availablePoints"
                                            [cdkDropListConnectedTo]="[currentPointsList]" class="data-connect-list"
                                            (cdkDropListDropped)="drop($event)">
                                            <div class="data-connect-box" *ngFor="let item of availablePoints"
                                                cdkDrag>
                                                <div>
                                                    <div class="data-header">{{item.attributes.name}}</div>
                                                    <div class="data-detail">{{truncateString(item.attributes.path)}}</div>
                                                </div>
                                                <button mat-icon-button aria-label="Add" style="cursor: pointer;"
                                                    (click)="addPoint(item)">
                                                    <mat-icon>add</mat-icon>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </mat-tab>
                            <mat-tab label="Control" *ngIf="graphItemControllable">
                                <div fxLayout="row" fxFlex="100">
                                    <div fxFlex="48" cdkDropList #currentControlPointsList="cdkDropList"
                                        [cdkDropListData]="currentControlPoints" class="data-connect-list"
                                        (cdkDropListDropped)="drop($event)">
                                        <div class="data-connect-box" *ngFor="let item of currentControlPoints" cdkDrag>
                                            <div>
                                                <div class="data-header">{{item.attributes.name}}</div>
                                                <div class="data-detail">{{truncateString(item.attributes.path)}}</div>
                                                <div class="data-detail">                                                    
                                                    <mat-form-field class="example-full-width pr-1">
                                                        <mat-label>Data Type</mat-label>
                                                        <input matInput [value]="item.attributes.type" disabled />
                                                    </mat-form-field>
                                                    <mat-form-field class="example-full-width">
                                                        <mat-label>Parameter</mat-label>
                                                        <input matInput [value]="item.attributes.measurement" name="analog"
                                                            (input)="item.attributes.measurement = $event.target.value" />                                                        
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <button mat-icon-button aria-label="Delete" style="cursor: pointer;"
                                                (click)="removeControlPoint(item)">
                                                <mat-icon>delete</mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                    <div fxFlex="2">&nbsp;</div>                                    
                                    <div fxFlex="48">
                                        <mat-tab-group mat-align-tabs="start">
                                            <mat-tab label="OpenFMB">
                                                <div fxLayout="row" fxLayout.lt-sm="column" class="pt-1">
                                                    <div class="pr-1">
                                                        <h4>Select Module</h4>
                                                        <mat-form-field>
                                                            <mat-select [(ngModel)]="selectedModule" name="select-module"
                                                                (selectionChange)="onModuleChanged($event.value)">
                                                                <mat-option *ngFor="let option of modules" [value]="option">
                                                                    {{option}}
                                                                </mat-option>
                                                            </mat-select>
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="pr-1">
                                                        <h4>Select Profile</h4>
                                                        <mat-form-field>
                                                            <mat-select [(ngModel)]="selectedProfile" name="select-profile"
                                                                (selectionChange)="onProfileChanged($event.value)">
                                                                <mat-option *ngFor="let option of profiles"
                                                                    [value]="option.name">
                                                                    {{option.name}}
                                                                </mat-option>
                                                            </mat-select>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                                <div class="pb-1">
                                                    <mat-form-field class="margin-333" style="width: 95%">
                                                        <input matInput placeholder="Type to filter" [(ngModel)]='filter'
                                                            (keyup)='updateFilter($event)' name="filter">
                                                    </mat-form-field>
                                                </div>
                                                <div cdkDropList #availableControlPointsList="cdkDropList"
                                                    [cdkDropListData]="availablePoints"
                                                    [cdkDropListConnectedTo]="[currentControlPointsList]" class="data-connect-list"
                                                    (cdkDropListDropped)="drop($event)">
                                                    <div class="data-connect-box" *ngFor="let item of availablePoints"
                                                        cdkDrag>
                                                        <div>
                                                            <div class="data-header">{{item.attributes.name}}</div>
                                                            <div class="data-detail">{{truncateString(item.attributes.path)}}</div>
                                                        </div>
                                                        <button mat-icon-button aria-label="Add" style="cursor: pointer;"
                                                            (click)="addControlPoint(item)">
                                                            <mat-icon>add</mat-icon>
                                                        </button>
                                                    </div>
                                                </div>
                                            </mat-tab>
                                            <mat-tab label="Pre-defined Commands">
                                                <div fxLayout="row" fxLayout.lt-sm="column" class="pt-1">
                                                    <div class="pr-1">
                                                        <h4>Command Type</h4>
                                                        <mat-form-field>
                                                            <mat-select [(ngModel)]="selectedCommand" name="command-type"
                                                                (selectionChange)="onCommandTypeChanged($event.value)">
                                                                <mat-option *ngFor="let option of commands" [value]="option">
                                                                    {{option}}
                                                                </mat-option>
                                                            </mat-select>
                                                        </mat-form-field>
                                                    </div>                                                    
                                                </div>
                                                <div class="pb-1">
                                                    <mat-form-field class="margin-333" style="width: 95%">
                                                        <input matInput placeholder="Type to filter" [(ngModel)]='filter'
                                                            (keyup)='updateFilter($event)' name="filter">
                                                    </mat-form-field>
                                                </div>
                                                <div cdkDropList #availableCommandList="cdkDropList"
                                                    [cdkDropListData]="availableCommands"
                                                    [cdkDropListConnectedTo]="[currentControlPointsList]" class="data-connect-list"
                                                    (cdkDropListDropped)="drop($event)">
                                                    <div class="data-connect-box" *ngFor="let item of availableCommands"
                                                        cdkDrag>
                                                        <div>
                                                            <div class="data-header">{{item.attributes.name}}</div>                                                            
                                                        </div>
                                                        <button mat-icon-button aria-label="Add" style="cursor: pointer;"
                                                            (click)="addControlPoint(item)">
                                                            <mat-icon>add</mat-icon>
                                                        </button>
                                                    </div>
                                                </div>
                                            </mat-tab>
                                        </mat-tab-group>                                                                                
                                    </div>
                                </div>
                            </mat-tab>
                            <mat-tab label="Visibility" *ngIf="graphItemDataVisibility">
                                <div fxLayout="row" fxFlex="100">
                                    <div fxFlex="48" cdkDropList #currentVisiblityPointsList="cdkDropList"
                                        [cdkDropListData]="currentVisibilityPoints" class="data-connect-list"
                                        (cdkDropListDropped)="drop($event)">
                                        <div class="data-connect-box" *ngFor="let item of currentVisibilityPoints" cdkDrag>
                                            <div>
                                                <div class="data-header">{{item.attributes.name}}</div>
                                                <div class="data-detail">                                                    
                                                    <input matInput [value]="item.attributes.path" (input)="item.attributes.path = $event.target.value" />
                                                </div>
                                                <div class="data-detail">
                                                    <mat-form-field class="example-full-width pr-1">
                                                        <mat-label>Visible when</mat-label>
                                                        <mat-select [(ngModel)]="item.attributes.label" name="select-comparison">
                                                            <mat-option *ngFor="let option of comparisons" [value]="option">
                                                                {{option}}
                                                            </mat-option>
                                                        </mat-select>                                                        
                                                    </mat-form-field>
                                                    <mat-form-field class="example-full-width">
                                                        <mat-label>Value</mat-label>
                                                        <input matInput [value]="item.attributes.measurement"
                                                            (input)="item.attributes.measurement = $event.target.value" />
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <button mat-icon-button aria-label="Delete" style="cursor: pointer;"
                                                (click)="removeVisibilityPoint(item)">
                                                <mat-icon>delete</mat-icon>
                                            </button>                                            
                                        </div>
                                    </div>
                                    <div fxFlex="2">&nbsp;</div>
                                    <div fxFlex="48">
                                        <div fxLayout="row" fxLayout.lt-sm="column" class="pt-1">
                                            <div class="pr-1">
                                                <h4>Select Module</h4>
                                                <mat-form-field>
                                                    <mat-select [(ngModel)]="selectedModule" name="select-module"
                                                        (selectionChange)="onModuleChanged($event.value)">
                                                        <mat-option *ngFor="let option of modules" [value]="option">
                                                            {{option}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                            <div class="pr-1">
                                                <h4>Select Profile</h4>
                                                <mat-form-field>
                                                    <mat-select [(ngModel)]="selectedProfile" name="select-profile"
                                                        (selectionChange)="onProfileChanged($event.value)">
                                                        <mat-option *ngFor="let option of profiles"
                                                            [value]="option.name">
                                                            {{option.name}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="pb-1">
                                            <mat-form-field class="margin-333" style="width: 100%">
                                                <input matInput placeholder="Type to filter" [(ngModel)]='filter'
                                                    (keyup)='updateFilter($event)' name="filter">
                                            </mat-form-field>
                                        </div>
                                        <div cdkDropList #availablePointsList="cdkDropList"
                                            [cdkDropListData]="availablePoints"
                                            [cdkDropListConnectedTo]="[currentVisiblityPointsList]" class="data-connect-list"
                                            (cdkDropListDropped)="drop($event)">
                                            <div class="data-connect-box" *ngFor="let item of availablePoints"
                                                cdkDrag>
                                                <div>
                                                    <div class="data-header">{{item.attributes.name}}</div>
                                                    <div class="data-detail">{{truncateString(item.attributes.path)}}</div>
                                                </div>
                                                <button mat-icon-button aria-label="Add" style="cursor: pointer;"
                                                    (click)="addVisibilityPoint(item)">
                                                    <mat-icon>add</mat-icon>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </mat-tab>
                        </mat-tab-group>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
    </div>
</form>