<mat-toolbar color="primary">
  <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="20">
      <div class="logo">
        <img src="assets/images/logo.png" alt="" class="app-logo">
      </div>
      <div class="logo-branding">
        <a [routerLink]="['/']">HMI</a>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" fxFlexAlign="center">
      &nbsp;
    </div>
    <div fxLayout="row" fxLayoutAlign="end center" fxFlex="0" fxFlexAlign="center">
      <div fxItemAlign="center" class="zoom-control">
        Zoom:&nbsp;&nbsp;&nbsp;&nbsp;
        <a [routerLink]="" class="zoom-button zoom-out" (click)="zoomOut()">
          -
        </a>
        <mat-slider class="zoom-slider" [disabled]="disabled" [invert]="invert" [max]="max" [min]="min" [step]="step"
          [thumbLabel]="thumbLabel" [(ngModel)]="value" (change)="onZoomGraph()" [vertical]="vertical"></mat-slider>
        <a [routerLink]="" class="zoom-button zoom-in" (click)="zoomIn()">+</a>
        <span class="value"> {{ value | percent }}</span>
      </div>
    </div>    
    
    <button mat-icon-button [matMenuTriggerFor]="accountMenu" class="topbar-button-right mr-1 img-button">
      <mat-icon>lock</mat-icon>
    </button>
    <mat-menu #accountMenu="matMenu">      
      <button mat-menu-item (click)="jwtAuth.signout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Sign out</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>